/.next
/components
/data
/lib
/models
/node_modules
/pages
/public
/redux
/restClients
/styles
/utils
.env.docker
.env.example
.eslintrc
.gitignore
.prettierrc.json
docker-compose.yml
Dockerfile
Makefile
next-env.d.ts
next.config.js
tsconfig.json
yarn-error.log